.DS_Store
.idea
.tmp
ngrok.yml
composer.lock
coverage
slimwp/settings.php
public/assets/node_modules/**
public/assets/cache/**
phinx.yml
private/api/**
private/cache/**
private/crypto/**
private/data/**
private/log/**
vendor
yarn.lock
yarn-error.log
